<template>
    <div>
        <div v-if="this.roleUser === 'admin'" class="nav-admin">
            <ul>
            <li v-bind:class="{'active':(currentForm == 'team')}" v-on:click="currentForm = 'team'">Team</li>
            <li v-bind:class="{'active':(currentForm == 'user')}" v-on:click="changeCurrentFormForAdmin()">User</li>
            </ul>
        </div>
        <!-- **** DISPLAY TEAM LIST **** -->
        <div v-if="this.currentForm === 'team'" class="row" id="teamManagerDiv">
            <!-- admin -->
            <table v-if="this.roleUser === 'admin'" class="table desktop">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th></th>
                        <th>
                            <button v-on:click="createTeam_popup()" id="create-team" class="btn">
                                <i class="fas fa-plus-circle fa-xl"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="team in allTeams" v-bind:key="team.id">
                        <td class="text-center">{{ team.id }}</td>
                        <td class="text-center">{{ team.name }}</td>
                        <td class="text-center">
                            <button v-on:click="updateTeam_popup(team)" class="btn update-team">
                                <i class="fas fa-pen fa-xl"></i>
                            </button>
                            <button v-on:click="deleteTeam(team.id)" class="btn delete-team">
                                <i class="fas fa-trash-alt fa-xl"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button v-on:click="viewUserByTeam(team)" class="btn view-user-by-team">
                                <i class="fas fa-users fa-xl"></i>
                            </button>
                            <button v-on:click="addUserToTeam_popup(team)" id="create-user" class="btn">
                                <i class="fas fa-user-plus fa-xl"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- manager -->
            <table v-if="this.roleUser === 'manager'" class="table desktop">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="team in teamsByManager" v-bind:key="team.id">
                        <td class="text-center">{{ team.id }}</td>
                        <td class="text-center">{{ team.name }}</td>
                        <td></td>
                        <td class="text-center">
                            <button v-on:click="viewUserByTeam(team)" class="btn view-user-by-team">
                                <i class="fas fa-users fa-xl"></i>
                            </button>
                            <button v-on:click="addUserToTeam_popup(team)" id="create-user" class="btn">
                                <i class="fas fa-user-plus fa-xl"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- **** DISPLAY USER LIST **** -->
        <div v-if="this.currentForm === 'user'" class="row" id="userManagerDiv">
            <table class="table desktop">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">
                        </th>
                        <th class="text-center">
                            <button v-if="this.roleUser === 'admin'" v-on:click="getAllTeams()" id="get-all-user-working-times" class="btn">
                                <i class="fas fa-arrow-up fa-xl"></i>
                            </button>
                            <button v-else v-on:click="getTeamsByManager()" id="get-all-user-working-times" class="btn">
                                <i class="fas fa-arrow-up fa-xl"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="this.roleUser === 'admin'" >
                    <tr v-for="user in users" v-bind:key="user.id">
                        <td class="text-center">{{ user.id }}</td>
                        <td class="text-center">{{ user.username }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">
                            <button v-on:click="updateUser_popup(user)" id="update-user" class="btn">
                                <i class="fas fa-pen fa-xl"></i>
                            </button>
                            <button v-on:click="deleteUser(user.id)" id="delete-user" class="btn">
                                <i class="fas fa-trash-alt fa-xl"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button v-on:click="getClocks_popup(user)" id="get-all-user-clocks" class="btn">
                                <i class="fas fa-clock fa-xl"></i>
                            </button>
                            <button v-on:click="getWorkingTimes_popup(user)" id="get-all-user-working-times" class="btn">
                                <i class="fas fa-calendar fa-xl"></i>
                            </button>
                            <button v-on:click="getUserCharts_popup(user)" id="get-all-user-clocks" class="btn">
                                <i class="fas fa-chart-area"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody v-else-if="this.roleUser === 'manager'" >
                    <tr v-for="user in users" v-bind:key="user.id">
                        <td class="text-center">{{ user.id }}</td>
                        <td class="text-center">{{ user.username }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center"></td>
                        <td class="text-center">
                            <button v-on:click="getClocks_popup(user)" id="get-all-user-clocks" class="btn">
                                <i class="fas fa-clock fa-xl"></i>
                            </button>
                            <button v-on:click="getWorkingTimes_popup(user)" id="get-all-user-working-times" class="btn">
                                <i class="fas fa-calendar fa-xl"></i>
                            </button>
                            <button v-on:click="getUserCharts_popup(user)" id="get-all-user-charts" class="btn">
                                <i class="fas fa-chart-area"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- **** USER POPUP **** -->
        <!-- create -->
        <vs-popup classContent="addUserToTeam"  title="Add a user to the team" :active.sync="popupAddUserToTeam">
                <div class="form-group">
                    <label>Id User</label>
                    <input class="form-control" type="text" id="idUserForAddToTeam">
                </div>
                <button v-on:click="addUserToTeam()" class="btn btn-secondary">Add</button>
        </vs-popup>
        <!-- update -->
        <vs-popup classContent="updateUser"  title="Edit user" :active.sync="popupUpdateUser">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" id="emailForUpdate" class="form-control" :value="this.actualRequestedUser.email">
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" id="usernameForUpdate" class="form-control" :value="this.actualRequestedUser.username">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" id="roleForUpdate" class="form-control">
                </div>
                <button v-on:click="updateUser()" class="btn btn-secondary">Update</button>
        </vs-popup>
        <!-- **** TEAMS POPUP **** -->
        <!-- create -->
        <vs-popup classContent="createTeam"  title="Create a new team" :active.sync="popupCreateTeam">
                <div class="form-group">
                    <label>Team name</label>
                    <input class="form-control" type="text" id="teamNameForCreate">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="teamDescForCreate" class="form-control">
                </div>
                <button v-on:click="createTeam()" class="btn btn-secondary">Create</button>
        </vs-popup>
        <!-- update -->
        <vs-popup classContent="updateTeam"  title="Edit team" :active.sync="popupUpdateTeam">
                <div class="form-group">
                    <label>Team name</label>
                    <input type="text" id="teamNameForUpdate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" id="teamDescForUpdate" class="form-control">
                </div>
                <button v-on:click="updateTeam()" class="btn btn-secondary">Update</button>
        </vs-popup>
        <!-- **** MOBILE **** -->
        <div class="mobile">
                <div class="table-mobile" v-for="user in users" v-bind:key="user.id">
                    <ul class="item">
                        <li class="username">{{ user.username }}</li>
                        <li>{{ user.email }}</li>
                        <li class="buttons">
                            <button v-on:click="getClocks_popup(user.id)" id="get-all-user-clocks" class="btn">
                                <i class="fas fa-eye fa-xl"></i>
                            </button>
                            <button v-on:click="getWorkingTimes_popup(user.id)" id="get-all-user-working-times" class="btn">
                                <i class="fas fa-eye fa-xl"></i>
                            </button>
                        </li>
                    </ul>
                </div>
        </div>
        <!-- **** WORKING TIMES POPUP **** -->
        <vs-popup classContent="userWorkingTimesInfo"  title="Users working times informations" :active.sync="popupUserWorkingTimes">
                <WorkingTimes :roleUser="roleUser" :selectedUser="this.actualRequestedUser.id" />
        </vs-popup>
        <!-- **** CLOCKS POPUP **** -->
        <vs-popup classContent="userClocksInfo"  title="Users clocks informations" :active.sync="popupUserClocks">
                <Clocks :roleUser="roleUser" :selectedUser="this.actualRequestedUser.id" />
        </vs-popup>
        <!-- **** CHARTS POPUP **** -->
        <vs-popup classContent="userCharts"  title="Users Charts" :active.sync="popupUserCharts">
                <Charts :roleUser="roleUser" :selectedUser="this.actualRequestedUser.id" />
            </vs-popup> 
    </div>
</template>

<script>
import Ajax from '../classes/Ajax'
import Swal from 'sweetalert2'
import '../../node_modules/vuesax/dist/vuesax.css' //Vuesax styles
import WorkingTimes from './WorkingTimes'
import Clocks from './Clocks'
import Charts from "./ChartManager"

export default {
    name: 'AdminManager',
    props: ['selectedUser','roleUser'],
    data() {
        return {
            users: this.getUsers(),
            currentForm: "team",
            popupUserClocks: false,
            popupUserWorkingTimes: false,
            popupUpdateUser: false,
            popupAddUserToTeam: false,
            popupUpdateTeam: false,
            popupCreateTeam: false,
            popupUserCharts : false,
            actualRequestedUser: false,
            allTeams: this.getAllTeams(),
            teamsByManager: this.getTeamsByManager(),
            actualTeam: ""
        }
    },
    components: {   
        WorkingTimes,
        Clocks,
        Charts
    },
    methods: {
        // ------------- ADMIN -------------
        changeCurrentFormForAdmin: function () {
            this.currentForm = 'user'
            this.users = this.getUsers()
        },
        // ------------- USER -------------
        //create
        createUser_popup: function () {
            this.popupAddUserToTeam = true
        },
        createUser: function () {
            var c_u_email = document.getElementById("emailForCreate").value //Get value of "email" input
            var c_u_username = document.getElementById("usernameForCreate").value //Get value of "username" input
            var c_u_body = { //Request body
                user:{
                }
            }
            if (c_u_username) {
                c_u_body.user.username = c_u_username //Write username in request body
            }
            if (c_u_email) {
                c_u_body.user.email = c_u_email //Write email in request body
            }

            Ajax.post("http://localhost:4000/api/users",c_u_body)
            .then((response) => {
                console.log(response)
                this.popupCreateUser = false
                this.getUsers()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('userManagerDiv'),
                    title: 'Created!',
                    text: 'The user has been created.',
                    icon: 'success'
                })
            })
            .catch(function(error){ //Post Request
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    this.popupCreateUser = false
                    Swal.fire({
                        target: document.getElementById('userManagerDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        addUserToTeam_popup: function (team) {
            this.actualTeam = team
            this.popupAddUserToTeam = true
        },
        addUserToTeam: function () {
            var idUser = document.getElementById("idUserForAddToTeam").value

            var c_ut_body = {
                team_id: "",
                user_id: "",
            }

            c_ut_body.user_id = idUser
            c_ut_body.team_id = this.actualTeam.id

            Ajax.post("http://localhost:4000/api/teams/add-user",c_ut_body)
            .then((response) => {
                this.popupAddUserToTeam = false
                console.log(response)
            })
            .catch((error) => {
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    this.popupAddUserToTeam = false
                }
            })
        },
        // TODO
        removeUserFromTeam: function () {
            console.log("remove")
        },
        //viewUserByTeam
        viewUserByTeam: function (team) {
            var request = 'http://localhost:4000/api/users/team/' + team.id;
            Ajax.get(request).then((response) => { 
                console.log(response)
                this.users = response.data.data
                this.currentForm = "user"
            })
        },
        //update
        updateUser_popup: function (requestedUser) {
            console.log(requestedUser)
            this.actualRequestedUser = requestedUser
            this.popupUpdateUser = true
        },
        updateUser: function () {
            var instance = this
            var c_u_email = document.getElementById("emailForUpdate").value
            var c_u_username = document.getElementById("usernameForUpdate").value
            var c_u_role = document.getElementById("roleForUpdate").value
            var c_u_body = { //Request body
                user:{

                }
            }
            if (c_u_username) {
                c_u_body.user.username = c_u_username //Write username in request body
            }
            if (c_u_email) {
                c_u_body.user.email = c_u_email //Write email in request body
            }
            if (c_u_role) {
                c_u_body.user.role = c_u_role
            }

            Ajax.put("http://localhost:4000/api/users/"+this.actualRequestedUser.id, c_u_body)
            .then((response) => {
                console.log(response)
                instance.popupUpdateUser = false
                this.getUsers()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('userManagerDiv'),
                    title: 'Updated!',
                    text: 'The user has been edited.',
                    icon: 'success'
                })
            })
            .catch(function(error){ //Post Request
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    instance.popupUpdateUser = false
                    Swal.fire({
                        target: document.getElementById('userManagerDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        //delete
        deleteUser: function (requestedUserId) {
            Swal.fire({
                target: document.getElementById('userManagerDiv'),
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result)
                if (!result.dismiss) {
                    Ajax.delete("http://localhost:4000/api/users/"+requestedUserId)
                    .then(() => {
                        Swal.fire({
                            target: document.getElementById('userManagerDiv'),
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'Your user has been deleted.',
                        })
                        this.getUsers()
                        this.$forceUpdate()
                    }).catch(function(error){
                        if(error.response){ //If a error message is get
                            console.log(error.response.status) //Print status code in console
                            console.log(error.response.data) //Print response's body in console
                            console.log(error.response.headers) //Print response's header in console
                            Swal.fire({
                                target: document.getElementById('userManagerDiv'),
                                text: "An error occured"
                            })
                        }
                    })
                }
            })
        },
        //get all users
        getUsers: function () {
            var request = '/users/all';
            var instance = this;
            Ajax.get(request).then((response) => { 
                instance.users = response.data.data
            });
        },
        // ------------- CLOCKS -------------
        getClocks_popup: function(requestedUser) {
            this.actualRequestedUser = requestedUser
            this.popupUserClocks = true
        },
        // ------------- WORKING TIMES -------------
        getWorkingTimes_popup: function(requestedUser) {
            this.actualRequestedUser = requestedUser
            this.popupUserWorkingTimes = true
        },
        // ------------- TEAMS -------------
        // this.getUserByTeams
        getAllTeams: function () {
            var request = 'http://localhost:4000/api/teams/all';
            Ajax.get(request).then((response) => { 
                console.log(response)
                this.allTeams = response.data.data
                this.currentForm = "team"
            })
        },
        getTeamsByUser: function () {
            var request = 'http://localhost:4000/api/teams/user/2';
            Ajax.get(request).then((response) => { 
                console.log(response)
                this.teamsByUser = response.data.data
            })
        },
        getTeamsByManager: function () {
            var request = 'http://localhost:4000/api/teams/manager/' + this.selectedUser;
            Ajax.get(request).then((response) => { 
                console.log(response)
                this.teamsByManager = response.data.data
                this.currentForm = "team"
            })
        },
        //create
        createTeam_popup: function () {
            this.popupCreateTeam = true
        },
        createTeam: function () {
            var instance = this
            var c_t_name = document.getElementById("teamNameForCreate").value //Get value of "email" input
            var c_t_desc = document.getElementById("teamDescForCreate").value //Get value of "username" input
            var c_t_body = { //Request body
                team:{}
            }

            if (c_t_name) {
                c_t_body.name = c_t_name //Write username in request body
            }
            if (c_t_desc) {
                c_t_body.team.desc = c_t_desc //Write email in request body
            }

            Ajax.post("http://localhost:4000/api/teams",c_t_body)
            .then((response) => {
                console.log(response)
                instance.popupCreateTeam = false
                this.getAllTeams()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('userManagerDiv'),
                    title: 'Created!',
                    text: 'The team has been created.',
                    icon: 'success'
                })
            })
            .catch(function(error){ //Post Request
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    instance.popupCreateTeam = false
                    Swal.fire({
                        target: document.getElementById('userManagerDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        //update
        updateTeam_popup: function (team) {
            this.actualTeam = team
            this.popupUpdateTeam = true
        },
        updateTeam: function () {
            var instance = this
            console.log("update")
            var c_t_name = document.getElementById("teamNameForUpdate").value //Get value of "email" input
            var c_t_desc = document.getElementById("teamDescForUpdate").value //Get value of "username" input
            var c_t_body = { //Request body
                team:{}
            }

            if (c_t_name) {
                c_t_body.name = c_t_name //Write username in request body
            }
            if (c_t_desc) {
                c_t_body.team.desc = c_t_desc //Write email in request body
            }

            Ajax.put("http://localhost:4000/api/teams/" + this.actualTeam.id, c_t_body)
            .then((response) => {
                console.log(response)
                instance.popupUpdateTeam = false
                this.getAllTeams()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('userManagerDiv'),
                    title: 'Created!',
                    text: 'The team has been updated.',
                    icon: 'success'
                })
            })
            .catch(function(error){ //Post Request
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    instance.popupUpdateTeam = false
                    Swal.fire({
                        target: document.getElementById('userManagerDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        //delete
        deleteTeam: function (teamId) {
            Swal.fire({
                target: document.getElementById('teamManagerDiv'),
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result)
                if (!result.dismiss) {
                    Ajax.delete("http://localhost:4000/api/teams/"+teamId)
                    .then(() => {
                        Swal.fire({
                            target: document.getElementById('teamManagerDiv'),
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'The team has been deleted.',
                        })
                    }).catch(function(error){
                        if(error.response){ //If a error message is get
                            console.log(error.response.status) //Print status code in console
                            console.log(error.response.data) //Print response's body in console
                            console.log(error.response.headers) //Print response's header in console
                            Swal.fire({
                                target: document.getElementById('teamManagerDiv'),
                                text: "An error occured"
                            })
                        }
                    })
                }
            })
        },
        // ------------- CHARTS -------------
        getUserCharts_popup: function(requestedUser){
            this.actualRequestedUser = requestedUser
            this.popupUserCharts = true
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.view-user-by-team {
    margin-right : 10px;
}
.nav-admin ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}
.nav-admin li {
  flex-grow: 1;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.nav-admin li.active {
  font-weight: bold;
  border-bottom: 5px solid #e8b81a;
}

.update-team {
    background-color: #3590F3;
    color: #F1E3F3;
    margin-right: 10px;
}

#update-user {
    background-color: #3590F3;
    color: #F1E3F3;
    margin-right: 10px;
}

#get-all-user-clocks {
    margin-right: 10px;
}

#get-all-user-working-times {
    margin-right: 10px;
}

.chart {
  text-align: center;
}
.table {
    color: #FFF;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #1a2330;
}
.table td{
    border: 0;
}
.mobile {
    display: none;
    width: 100%;
}
.mobile ul {
    list-style: none;
}
.mobile .table-mobile .item {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #1a2330;
}
.mobile .table-mobile .item .username{
    font-weight: bold;
}
.mobile .table-mobile .buttons{
    padding-top: 10px;
}
.mobile .table-mobile .buttons .btn{
    width: 80px;
    margin-right: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px){
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
</style>