<template>
  <div id="login-page" class="row">
    <div class="left-panel col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="catchphrase">
        <h1>Gothime Manager</h1>
        <span>Save time, fight crime.</span>
      </div>
    </div>
    <div class="right-panel col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <SignIn v-if="activeForm === 'signIn'" @changeForm="changeForm" @logUser="logUser"/>
      <SignUp v-if="activeForm === 'signUp'" @changeForm="changeForm" @logUser="logUser"/>
    </div>
    <div id="download-app">
      <a class="btn" download>Download app for Android</a>
    </div>
  </div>
</template>

<script>

import SignIn from './auth/SignIn.vue'
import SignUp from './auth/SignUp.vue'

export default {
  name: 'Auth',
  components: {
    SignIn,
    SignUp
  },
  data: function() {
    return {
      activeForm: "signIn"
    }
  },
  methods: {
    logUser(user) {
      this.$emit("logUser", user);
    },
    changeForm(form) {
      this.activeForm = form;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#login-page {
    position: relative;
    display: flex;
    height: 100vh;
    margin: 0;
}
.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-panel {
    text-align : left;
}
.left-panel .catchphrase {
    display: block;
    width: auto;
    margin: auto;
}
.left-panel .catchphrase h1{
    font-size: 5rem;
    font-family: 'Staatliches', cursive;
}
.left-panel .catchphrase span{
    font-size: 2.5rem;
}
.right-panel {
    text-align : center;
    padding-top: 50px;
    margin-bottom: 100px;
}
#download-app {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

#download-app .btn {
  position: relative;
  margin: auto;
  width: 300px;
  background-color: #1a2330;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 550px){
  #login-page {
    height: auto;
  }
}
@media screen and (max-width: 700px){
  #download-app {
    display: none;
  }
}
</style>