<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <InOutClock :roleUser="roleUser" :selectedUser="selectedUser" :userMenuOpen="userMenuOpen"/>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <WorkingTimePerDay :roleUser="roleUser" :selectedUser="selectedUser" :userMenuOpen="userMenuOpen"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <DeltaWorkingTimeClock :roleUser="roleUser" :selectedUser="selectedUser" :userMenuOpen="userMenuOpen"/>
      </div>
    </div>
  </div>
</template>

<script>
import InOutClock from './charts/InOutClock.vue'
import WorkingTimePerDay from './charts/WorkingTimePerDay.vue'
import DeltaWorkingTimeClock from './charts/DeltaWorkingTimeClock.vue'

import Raphael from 'raphael/raphael'
global.Raphael = Raphael

export default {
  name: 'ChartManager',
  props: ['selectedUser','roleUser','userMenuOpen'],
  components: {
    InOutClock,
    WorkingTimePerDay,
    DeltaWorkingTimeClock
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart {
  text-align: center;
  margin: 50px 0;
}
</style>