<template>
    <div class="container-fluid" id="clocksDiv">
        <table class="table desktop">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center"></th>
                    <th class="text-center">
                        <button v-on:click="createClock_popup()" id="create-clock" class="btn">
                            <i class="fas fa-plus-circle fa-xs"></i>
                        </button>
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="clock in clocks" v-bind:key="clock.id">
                    <td class="text-center">{{ clock.id }}</td>
                    <td class="text-center">{{ clock.time | formatTime }}</td>
                    <td class="text-center">{{ clock.status ? 'In progess' : 'Done' }}</td>
                    <td class="text-center">
                        <button v-on:click="updateClock_popup(clock)" id="update-clock" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="delClock(clock)" id="del-clock" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mobile">
            <div class="table-mobile" v-for="clock in clocks" v-bind:key="clock.id">
                <ul class="item">
                    <li>Time : {{ clock.time | formatTime }}</li>
                    <li>Status : {{ clock.status ? 'In progess' : 'Done' }}</li>
                    <li class="buttons">
                        <button v-on:click="updateClock_popup(clock)" id="update-clock" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                        <button v-on:click="delClock(clock)" id="del-clock" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <vs-popup classContent="updateClock"  title="Edit clock" :active.sync="popupUpdateClock">
            <div class="form">
                <div class="form-group">
                    <label>Time</label>
                    <input type="datetime-local" id="timeForUpdate" class="form-control" :value="this.actualClock.time">
                </div>
                <div class="form-group">
                    <label>Is Working</label>
                    <input type="text" id="statusForUpdate" class="form-control" :value="this.actualClock.status">
                </div>
                <button v-on:click="updateClock()" class="btn btn-secondary">Save changes</button>
            </div>
        </vs-popup>
        <vs-popup classContent="createClock"  title="Add new clock" :active.sync="popupCreateClock">
            <div class="form">
                <div class="form-group">
                    <label>Time</label>
                    <input type="datetime-local" id="timeForCreate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Is Working</label>
                    <input type="text" id="statusForCreate" class="form-control">
                </div>
                <button v-on:click="createClock()" class="btn btn-secondary">Add</button>
            </div>
        </vs-popup>
    </div>
</template>
<script>
import Ajax from '../classes/Ajax'
import Swal from 'sweetalert2'
import '../../node_modules/vuesax/dist/vuesax.css' //Vuesax styles
import moment from 'moment'
moment.locale('en-AU');

export default {
    name: 'Clocks',
    props: ['selectedUser','roleUser'],
    data() {
        return {
            users: this.getClocks(),
            clocks: {},
            popupUpdateClock: false,
            popupCreateClock: false,
            actualRequestedUserId: "",
            actualClock: {}
        }
    },
    methods: {
        //get all clocks for requested user
        getClocks: function () {
            if (!this.selectedUser) return false;
            var request = '/clocks/'+this.selectedUser;
            var instance = this;
            Ajax.get(request).then((response) => { 
                console.log(response)
                instance.clocks = response.data.data
            });
        },
        //create
        createClock_popup: function () {
            this.popupCreateClock = true
        },
        createClock: function () {
            var c_c_body = {
                time: "",
                status: "",
                user_id: this.userId
            }

            var c_c_time = document.getElementById("timeForCreate").value
            var c_c_status = document.getElementById("statusForCreate").value

            c_c_body.time = c_c_time
            c_c_body.status = c_c_status

            if (!this.selectedUser) return false;
            Ajax.post("/clocks/" + this.selectedUser, c_c_body)
            .then((response) => {
                this.popupCreateClock = false
                this.getClocks()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('clocksDiv'),
                    title: 'Created!',
                    text: 'The new clock has been created.',
                    icon: 'success',
                })
                console.log(response);
            })
            .catch(function(error){
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    Swal.fire({
                        target: document.getElementById('clocksDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        //update
        updateClock_popup: function (clock) {
            console.log(clock)
            this.popupUserClocks = false
            this.popupUpdateClock = true
            this.actualClock = clock
        },
        updateClock: function() {
            var u_c_body = {
                clock: {
                    time: "",
                    status: "",
                    user_id: this.userId
                }
            }

            var u_c_id = this.actualClock.id
            var u_c_time = document.getElementById("timeForUpdate").value
            var u_c_status = document.getElementById("statusForUpdate").value

            u_c_body.clock.time = u_c_time
            u_c_body.clock.status = u_c_status

            Ajax.put("/clocks/"+u_c_id, u_c_body)
            .then(response => {
                this.popupUpdateClock = false
                this.getClocks(this.actualRequestedUserId)
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('clocksDiv'),
                    title: 'Updated!',
                    text: 'Your working time has been updated.',
                    icon: 'success',
                })
                console.log(response)
            })
            .catch(function(error){
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    Swal.fire({
                        target: document.getElementById('clocksDiv'),
                        text: "An error occured"
                    })
                }
            })
        },
        //del
        delClock: function(clock) {
            console.log(clock)
            Swal.fire({
                target: document.getElementById('clocksDiv'),
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
            }).then((result) => {
                console.log(result)
                if (!result.dismiss) {
                    Ajax.delete("/clocks/"+clock.id)
                    .then(() => {
                        Swal.fire({
                            target: document.getElementById('clocksDiv'),
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'Your clock has been deleted.',
                        })
                    })
                    .then(() => {
                        this.getClocks(this.actualRequestedUserId)
                        this.$forceUpdate()
                    }).catch(function(error){
                        if(error.response){ //If a error message is get
                            console.log(error.response.status) //Print status code in console
                            console.log(error.response.data) //Print response's body in console
                            console.log(error.response.headers) //Print response's header in console
                            Swal.fire({
                                target: document.getElementById('clocksDiv'),
                                text: "An error occured"
                            })
                        }
                    })
                }
            })
        }
    },
    filters: {
        formatTime: function (param) {
            return moment(param).format('hh:mm');
        }
    },
    watch: {
        selectedUser: function () {
            this.clocks = this.getClocks()
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#update-clock {
    background-color: #3590F3;
    color: #F1E3F3;
}

.date {
    text-transform: capitalize;
}
.table {
    color: #FFF;
    background-color: #0f141c;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #1a2330;
}
.table tr:nth-child(even) {
    background-color: #0f141c;
}
.table td{
    border: 0;
}
.mobile {
    display: none;
    width: 100%;
    color: #FFF;
}
.mobile ul {
    list-style: none;
}
.mobile .table-mobile .item {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #1a2330;
}
.mobile .table-mobile .buttons{
    padding-top: 10px;
}
.mobile .table-mobile .buttons .btn{
    width: 80px;
    margin-right: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px){
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
</style>