<template>
  <div class="not-embed">
    <ClockManagerEmbed :roleUser="roleUser" :selectedUser="selectedUser"/>
  </div>
</template>

<script>
import ClockManagerEmbed from './embed/ClockManagerEmbed.vue'

export default {
  name: 'ClockManager',
  props: ['selectedUser','roleUser'],
  components: {
    ClockManagerEmbed
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.not-embed {
  max-width: 500px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 900px) {
  .not-embed #start-work, .not-embed #end-work {
    width: 120px !important;
  }
  .not-embed{
    max-width: 100%;
    margin: auto;
  }
}
</style>