<template>
    <div class="container-fluid" >
        <h2>FAQ</h2>
        <p class="question">
            How particular schedules are managed in this application ?
        </p>
        <p class="reponse">
            Gothime Manager enables you to enter your working times easily. Your working times are automatically calculated from your clock in and out. Also, you will be alerted when you exceed your daily working time. All those features enable you to work at your own pace of work without being annoyed by your particular schedule.
        </p>
        <br/>
        <p class="question">
            Are overtimes taken into account ?
        </p>
        <p class="reponse">
            The goal of Gothime Manager is to exactly compute your working time so that you get paid exactly the hours you worked. Thus, if you work overtime you will also get paid to the proper rates.
        </p>
        <br/>
        <p class="question">
            What about night shifts ?
        </p>
        <p class="reponse">
            Gothime Manager automatically identify night shifts according time so you don’t have to worry about that, your remuneration will automatically be computed and adapted.
        </p>
        <br/>
        <p class="question">
            Is Gothime Manager really useful ?
        </p>
        <p class="reponse">
            Workplace wellness is the priority of Gotham City and Gothime Manager helps to improve this wellness. This application enables you to clock in and out and your working time is calculated so that you are getting paid the exact amount of time you spend at work. So this new time management avoids unpaid overtime, bad night shifts management and makes your schedules more flexible.
        </p>
        <br/>
        <br/>
        <p class="question">
            How do I clock in and out ?
        </p>
        <p class="reponse">
            Gotham Manager makes these actions easier. You just have to click on a button to clock in and out… other stuff is automatically done.
        </p>
        <br/>
        <p class="question">
            What if I forgot to clock in or out ?
        </p>
        <p class="reponse">
            You should directly inform your manager when you figure out you forgot to clock so that he will be able to adjust your clockings
        </p>
        <br/>
        <p class="question">
            What if I don’t have a computer nor smartphone ?
        </p>
        <p class="reponse">
            If such a situation happened, you can talk about that with your manager to find solutions.
        </p>
        <br/>
        <p class="question">
            What if I’m disabled ?
        </p>
        <p class="reponse">
            Gothime Manager is user-friendly : it is flexible enough to be used along with web browser add ons for disabled people. 
        </p>
        <br/>
        <p class="question">
            Vacations, sick leaves and days off are also managed ?
        </p>
        <p class="reponse">
            This kind of time management features aren't the purpose of Gothime Manager
        </p>
    </div>
</template>
<script>

export default {
    name: 'Faq',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question {
    font-size: 110%;
    font-weight: bold;
}
</style>