<template>
    <div id="home" class="row" >
        <div class="row first-section">
            <ClockManagerEmbed class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" :roleUser="roleUser" :selectedUser="selectedUser"/>
            <div class="intro col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
                <p>
                    <strong>Workplace wellness is the priority of Gotham City and Gotham Manager helps to improve this wellness.</strong>
                </p>
                <p>
                    This application enables you to clock in and out and your working time is calculated so that you are getting paid the exact amount of time you spend at work. 
                    So this new time management avoids unpaid overtime, bad night shifts management and makes your schedules more flexible.
                </p>
                <p>If you have any questions, check our <router-link :to="{ name: 'Faq'}" data-page="Faq">Q/A</router-link>.</p>
            </div>
        </div>
        <div class="row">
            <div class="table-embed col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h2>Planning</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Date</th>
                            <th class="text-center">Start work</th>
                            <th class="text-center">End work</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="wt in workingTimes" v-bind:key="wt.id">
                            <td class="text-center">{{wt.start | moment1}}</td>
                            <td class="date text-center">{{wt.start | moment2}}</td>
                            <td class="date text-center">{{wt.end | moment2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="profile">
                    <h2>User Profile</h2>
                    <div class="profile-info">

                        <img src="https://eu.ui-avatars.com/api/?name=Bastien">
                        <div>
                            <span class="name">{{currentUserInfo.username}}</span><br> <!-- Let's admit email is normally designed -->
                            <span>Role : {{currentUserInfo.role.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ClockManagerEmbed from './embed/ClockManagerEmbed.vue'
    import Ajax from '../classes/Ajax'
    import moment from 'moment'

    export default {
        name: 'Home',
        props: ['selectedUser','roleUser'],
        data() {
            return {
                workingTimes: false,
                currentUserInfo: false
            }
        },
        components: {
            ClockManagerEmbed
        },
        filters: {
            moment1: function (param) {
                return moment(param).format('Do MMMM YYYY');
            },
            moment2: function (param){
                return moment(param).format("hh:mm")
            }
        },
        methods: {
            getCurrentUserWorkingTime: function(){
                var url = '/workingtimes/'+this.selectedUser;
                Ajax.get(url).then((response) => {
                    this.workingTimes = response.data.data;
                });
                
            },
            getUserInfos: function(){
                var url = '/users/'+this.selectedUser;
                Ajax.get(url).then((response) => {
                    this.currentUserInfo = response.data.data;
                    console.log(this.currentUserInfo)
                });

            }
        },
        watch: { //Watch event change on selectedUser prop
            selectedUser: function () {
                this.workingTimes = this.getCurrentUserWorkingTime();
                this.currentUserInfo = this.getUserInfos();

            }
        },
        mounted: function () { //On load this vue 
            this.workingTimes = this.getCurrentUserWorkingTime();
            this.currentUserInfo = this.getUserInfos();

        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#home .row {
    width: 100%;
    margin: auto;
}
.first-section {
    align-items: center;
}
.intro {
    padding: 30px 0 30px 5vw;
    flex-grow: 2;
}
.intro strong{
    font-size: 25px;
}
.intro p {
    font-size: 20px;
}
.table-embed, .profile {
    margin-top: 50px;
    padding: 30px;
}
.table-embed h2 {
    padding-bottom: 20px;
}
.table-embed th {
    border: 0;
    background-color: #0f141c;
    color: #FFF;
}
.table-embed tr:nth-child(odd) {
    background-color: #1a2330;
}
.table-embed td{
    border: 0;
    color: #FFF;
}
.profile {
    font-size: 18px;
    margin-left: 15%;
}
.profile h2 {
    padding-bottom: 50px;
}
.profile-info {
    display: flex;
    align-items: center;
}
.profile-info .name {
    font-size: 25px;
}
.profile img {
    border-radius: 50%;
    margin-right: 30px;
    width: 65px;
    height: 65px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    .profile {
        margin-left: 0;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        padding: 70px 15px 0 15px;
    }
}
</style>