<template>
  <div>
    <img class="to-close" src="../assets/close.svg" v-on:click="closeMenu()">
    <div class="menu">
      <div class="menu-item">
        <router-link to="/" data-page="Home" v-on:click.native="closeMenu()">Home</router-link>
      </div>
      <div class="menu-item">
        <router-link :to="{ name: 'AdminManager', params: { userId: this.connectedUser }}" data-page="AdminManager" v-on:click.native="closeMenu()">Admin Manager</router-link>
      </div>
      <div class="menu-item">
        <router-link :to="{ name: 'WorkingTimes', params: { userId: this.connectedUser }}" data-page="WorkingTimes" v-on:click.native="closeMenu()">Working Times</router-link>
      </div>
      <div class="menu-item">
        <router-link :to="{ name: 'ChartManager', params: { userId: this.connectedUser }}" data-page="ChartManager" v-on:click.native="closeMenu()">Chart Manager</router-link>
      </div>
    </div>
  </div>
</template>

<script>  
  export default {
    name: "MobileMenu",
    props: ['connectedUser'],
    methods: {
      closeMenu() {
        this.$emit("closeMenu")
      }
    }
  }
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.to-close {
  position: absolute;
  top: 3vh;
  right: 5vh;
  width: 25px;
  cursor: pointer;
}
#burgerMenu .menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Staatliches', cursive;
}
#burgerMenu .menu-item{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#burgerMenu .menu-item a{
  margin: auto;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 30px;
}
#burgerMenu .menu-item a.router-link-exact-active{
  border-bottom: 6px solid #e8b81a;
}
</style>
