<template>
    <div class="user-forms">  
      <div class="nav-user">
        <ul>
          <li v-bind:class="{'active':(currentForm == 'GET')}" v-on:click="currentForm = 'GET'">Get</li>
          <li v-bind:class="{'active':(currentForm == 'CREATE')}" v-on:click="currentForm = 'CREATE'">Create</li>
          <li v-bind:class="{'active':(currentForm == 'UPDATE')}" v-on:click="currentForm = 'UPDATE'">Update</li>
          <li v-bind:class="{'active':(currentForm == 'DELETE')}" v-on:click="currentForm = 'DELETE'">Delete</li>
        </ul>
      </div>
      <div class="form" v-if="currentForm == 'GET'">
        <h2>Get user</h2>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" id="usernameForGet">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" id="emailForGet">
        </div>
        <button v-on:click="getUser();" class="btn btn-secondary">Find</button>
      </div>
      <div class="form" v-if="currentForm == 'CREATE'">
        <h2>Create user</h2>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" id="usernameForCreate">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" id="emailForCreate" class="form-control">
        </div>
        <button v-on:click="createUser()" class="btn btn-secondary">Create</button>
      </div>
      <div class="form" v-if="currentForm == 'UPDATE'">
        <h2>Update User</h2>
        <div class="form-group">
          <label>User ID</label>
          <input type="text" id="userIdForUpdate" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" id="emailForUpdate" class="form-control">
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" id="usernameForUpdate" class="form-control">
        </div>
        <button v-on:click="updateUser()" class="btn btn-secondary">Update</button>
      </div>
      <div class="form" v-if="currentForm == 'DELETE'">
        <h2>Delete User</h2>
        <div class="form-group delete-form">
          <label>User ID</label>
          <input type="text" id="userIdForDelete" class="form-control">
        </div>
        <button v-on:click="deleteUser()" class="btn btn-secondary">Delete</button><br>
      </div>
  </div>
</template>

<script>
//import moment from 'moment'
//import 'moment/locale/fr'
import Ajax from '../classes/Ajax'

export default {
  name: 'User',
  props: ['selectedUser','roleUser'],
  data() {
    return {
      userGot: {data: {email:"",id:"",username:""}}, //Initialize a empty object to avoid error when call userGot.data.* above
      userID : "", //Variable to store current userID
      currentForm: "GET"
    };
  },
  methods:{
    getUser(){
      var g_u_username = document.getElementById("usernameForGet").value;//Get value of "username" input
      var g_u_email = document.getElementById("emailForGet").value;//Get value of "email" input
      var instance = this
      Ajax.get("/users/?email="+g_u_email+"&username="+g_u_username).then(function(response){
          instance.userGot = response.data;//Set userGot Object with response body
          instance.userID = response.data.data.id; //Get value of userID in localStorage
          instance.$emit("changeUser", response.data.data.id);
        }).catch(function(error){
        if(error.response){ //If a error message is get
          console.log(error.response.status) //Print status code in console
          console.log(error.response.data) //Print response's body in console
          console.log(error.response.headers) //Print response's header in console
          alert("WTF FREEROT ???")
        }
      });
      
    },
    createUser(){
      var c_u_email = document.getElementById("emailForCreate").value //Get value of "email" input
      var c_u_username = document.getElementById("usernameForCreate").value //Get value of "username" input
      var c_u_body = { //Request body
        user:{
        }
      }
      if (c_u_username) {
        c_u_body.user.username = c_u_username //Write username in request body
      }
      if (c_u_email) {
        c_u_body.user.email = c_u_email //Write email in request body
        
      }

      Ajax.post("/users",c_u_body).catch(function(error){ //Post Request
        if(error.response){ //If a error message is get
          console.log(error.response.status) //Print status code in console
          console.log(error.response.data) //Print response's body in console
          console.log(error.response.headers) //Print response's header in console
          alert("WTF FREEROT ???")
        }
      })

    },
    deleteUser(){
      var d_u_userID = document.getElementById("userIdForDelete").value//Get value of "userID" input
      Ajax.delete("/users/"+d_u_userID)//Delete request
     
    },
    updateUser(){
      var u_u_userID = document.getElementById("userIdForUpdate").value//Get value of "userID" input
      var u_u_email = document.getElementById("emailForUpdate").value//Get value of "email" input
      var u_u_username = document.getElementById("usernameForUpdate").value//Get value of "username" input
      var u_u_body = { //Request body
        user:{

        }
      }
      
      if (u_u_username) { //Write username in request body
        u_u_body.user.username = u_u_username
      }
      if (u_u_email) { //Write email in request body
        u_u_body.user.email = u_u_email
        
      }

      Ajax.put("/users/"+u_u_userID,u_u_body) //Put request
    }
    

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-user ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}
.nav-user li {
  flex-grow: 1;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.nav-user li.active {
  font-weight: bold;
  border-bottom: 5px solid #e8b81a;
}
.user-forms {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 50px;
  width: 400px;
  background-color: #1a2330;
  height: 100%;
}
.user-forms.open {
  display: flex;
}
.form {
  display: block;
  text-align: left;
  margin: 20px 0;
  padding: 50px 20px;
  background-color: #0f141c;
  border-radius: 8px;
}
.form h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.delete-form {
  margin-top: 40px;
}
.btn {
  display: block;
  width: 50%;
  margin-top: 30px;
  background-color: #545a5a;
  font-weight: bold;
  border: 0;
}
</style>