<template>
    <div id="working-times" class="row" >
        <table class="table desktop">
            <thead>
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Total Time</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">
                        <button v-on:click="getWorkingTimePopUp()" id="get-working-time" class="btn">
                            <i class="fas fa-search-plus fa-xl"></i>
                        </button>
                    </th>
                    <th class="text-center">
                        <button v-on:click="createWorkingTime_popup()" id="create-working-time" class="btn">
                            <i class="fas fa-plus-circle fa-xl"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="workingTime in workingTimes" v-bind:key="workingTime.id">
                    <td class="text-center">{{ workingTime.user.username }}</td>
                    <td class="date text-center">{{ workingTime.start | moment }}</td>
                    <td class="date text-center">{{ workingTime.end | moment }}</td>
                    <td class="text-center">{{ calcWorkingTime(workingTime.start, workingTime.end) }}</td>
                    <td class="text-center">{{ workingTime.id }}</td>
                    <td class="text-center">
                        <button v-on:click="updateWorkingTime_popup($event, workingTime)" id="update-working-time" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="delWorkingTime($event, workingTime)" id="del-working-time" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mobile">
            <div class="table-mobile" v-for="workingTime in workingTimes" v-bind:key="workingTime.id">
                <ul class="item">
                    <li class="username">{{ workingTime.user.username }}</li>
                    <li class="date">Start : {{ workingTime.start | moment }}</li>
                    <li class="date">End : {{ workingTime.end | moment }}</li>
                    <li>Total Time : {{ calcWorkingTime(workingTime.start, workingTime.end) }}</li>
                    <li class="buttons">
                        <button v-on:click="updateWorkingTime_popup($event, workingTime)" id="update-working-time" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                        <button v-on:click="delWorkingTime($event, workingTime)" id="del-working-time" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <vs-popup classContent="updateWorkingTimePopUp"  title="Edit working time" :active.sync="popupUpdate">
            <div class="form">
                <div class="form-group">
                    <label>Start</label>
                    <input type="datetime-local" id="startForUpdate" class="form-control" :value="this.startDateTime">
                </div>
                <div class="form-group">
                    <label>End</label>
                    <input type="datetime-local" id="endForUpdate" class="form-control" :value="this.endDateTime">
                </div>
                <button v-on:click="updateWorkingTime()" class="btn btn-secondary">Update</button>
            </div>
        </vs-popup>
        <vs-popup classContent="createWorkingTimePopUp"  title="Add working time" :active.sync="popupCreate">
            <div class="form">
                <div class="form-group">
                    <label>Start</label>
                    <input type="datetime-local" id="startDateForCreate" class="form-control">
                </div>
                <div class="form-group">
                    <label>End</label>
                    <input type="datetime-local" id="endDateForCreate" class="form-control">
                </div>
                <button v-on:click="createWorkingTime()" class="btn btn-secondary">Add</button>
            </div>
        </vs-popup>
        <vs-popup classContent="getOneWorkingTimePopUp"  title="Get working time" :active.sync="popupGetOne">
            <div class="form">
                <div class="form-group">
                    <label>Working Time Id :</label>
                    <input type="text" id="workingTimeIdForGetOne" class="form-control">
                </div>
                <button v-on:click="getWorkingTime()" class="btn btn-secondary">Search</button>
            </div>
        </vs-popup>
    </div>
</template>
<script>
import '../../node_modules/vuesax/dist/vuesax.css' //Vuesax styles
import Ajax from '../classes/Ajax'
import Swal from 'sweetalert2'
import moment from 'moment'
moment.locale('en-AU');

export default {
    name: 'WorkingTimes',
    props: ['selectedUser','roleUser'],
    data() {
        return {
            workingTimes: false,
            popupUpdate: false,
            popupGetOne: false,
            popupCreate: false,
            startDateTime: "",
            endDateTime: "",
            workingTimeId: "",
            actualRequestedUserId: ""
        }
    },
    methods: {
        calcWorkingTime: function(start, end) {
            start = moment(start);
            end = moment(end);
            var diffTime = end.diff(start);
            return moment.utc(diffTime).format("HH[h] mm[m]");
        },
        // Get all
        getWorkingTimes: function () {
            if (!this.selectedUser) return false;
            var url = '/workingtimes/'+this.selectedUser;
            var instance = this;
            Ajax.get(url).then((response) => {
				instance.workingTimes = response.data.data
			});
        },
        // Get one
        getWorkingTimePopUp: function () {
            this.popupGetOne = true
        },
        getWorkingTime: function () {
            if (!this.selectedUser) return false;
            var id = document.getElementById("workingTimeIdForGetOne").value; // Get workingTimeId value from input (entered by user)
            var url = "/workingtimes/"+this.selectedUser+"/"+id
            Ajax.get(url).then((response) => {
                console.log(response)
                this.popupGetOne = false
            })
            .catch(function(error){
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    this.alert("An error occured")
                }
            })
        },
        // Create
        createWorkingTime_popup: function() {
            this.popupCreate = true
        },
        createWorkingTime: function () {    
            var c_wt_body = {
                working_time: {
                    start: "",
                    end: "",
                    user_id: this.selectedUser
                }
            }   
            var c_wt_start_date = document.getElementById("startDateForCreate").value
            var c_wt_end_date = document.getElementById("endDateForCreate").value   
            if (c_wt_start_date) {
                c_wt_body.working_time.start = moment(c_wt_start_date)
            }   
            if (c_wt_end_date) {
                c_wt_body.working_time.end = moment(c_wt_end_date)
            }

            Ajax.post("/workingtimes/" + this.selectedUser, c_wt_body)
            .then((response) => {
                this.popupCreate = false
                this.getWorkingTimes()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('working-times'),
                    title: 'Created!',
                    text: 'Your working time has been created.',
                    icon: 'success'
                })
                console.log(response);
            })
            .catch(function(error){
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    Swal.fire({
                        target: document.getElementById('working-times'),
                        text: "An error occured"
                    })
                }
            })
        },
        //update
        updateWorkingTime_popup: function(event, workingTime) {
            this.popupUpdate = true
            this.startDateTime = workingTime.start + ""
            this.endDateTime = workingTime.end + ""
            this.workingTimeId = workingTime.id
            console.log(event + " " + workingTime)
            console.log(this.startDateTime + " - " + this.endDateTime)
        },
        updateWorkingTime: function() {

            var u_wt_body = {
                working_time: {
                    start: "",
                    end: "",
                    user_id: this.selectedUser
                }
            }

            var u_wt_id = this.workingTimeId
            var u_wt_start_date = document.getElementById("startForUpdate").value
            var u_wt_end_date = document.getElementById("endForUpdate").value

            if (this.startDateTime != u_wt_start_date) {
                u_wt_start_date = u_wt_start_date + ":00"
            }

            if (this.endDateTime != u_wt_end_date) {
                u_wt_end_date = u_wt_end_date + ":00"
            }

            if (u_wt_start_date) {
                u_wt_body.working_time.start = moment(u_wt_start_date).add(1, 'h')
            }

            if (u_wt_end_date) {
                u_wt_body.working_time.end = moment(u_wt_end_date).add(1, 'h')
            }

            console.log(this.startDateTime + " - " + u_wt_start_date)
            console.log(u_wt_start_date)
            console.log(u_wt_end_date)
            console.log(u_wt_body)

            Ajax.put("/workingtimes/"+u_wt_id, u_wt_body)
            .then(response => {
                this.popupUpdate = false
                this.getWorkingTimes()
                this.$forceUpdate()
                Swal.fire({
                    target: document.getElementById('working-times'),
                    title: 'Updated!',
                    text: 'Your working time has been updated.',
                    icon: 'success'
                })
                console.log(response)
            })
            .catch(function(error){
                if(error.response){ //If a error message is get
                    console.log(error.response.status) //Print status code in console
                    console.log(error.response.data) //Print response's body in console
                    console.log(error.response.headers) //Print response's header in console
                    Swal.fire({
                        target: document.getElementById('working-times'),
                        text: "An error occured"
                    })
                }
            })
        },
        //delete
        delWorkingTime: function(event, workingTime) {
            console.log(event + " " + workingTime)

            Swal.fire({
                target: document.getElementById('working-times'),
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result)
                if (!result.dismiss) {
                    Ajax.delete("/workingtimes/"+workingTime.id)
                    .then(() => {
                        Swal.fire({
                            target: document.getElementById('working-times'),
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'Your working time has been deleted.',
                        })
                        this.getWorkingTimes()
                        this.$forceUpdate()
                    }).catch(function(error){
                        if(error.response){ //If a error message is get
                            console.log(error.response.status) //Print status code in console
                            console.log(error.response.data) //Print response's body in console
                            console.log(error.response.headers) //Print response's header in console
                            Swal.fire({
                                target: document.getElementById('working-times'),
                                text: "An error occured"
                            })
                        }
                    })
                }
            })
        }
    },
    filters: {
        moment: function (param) {
            return moment(param).format('Do MMMM YYYY hh:mm');
        }
    },
    watch: {
        selectedUser: function () {
            this.workingTimes = this.getWorkingTimes()
        }
    },
    mounted: function() {
        this.workingTimes = this.getWorkingTimes();
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#update-working-time {
    background-color: #3590F3;
    color: #F1E3F3;
}
.date {
    text-transform: capitalize;
}
.table {
    color: #FFF;
    background-color: #0f141c;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #1a2330;
}
.table tr:nth-child(even) {
    background-color: #0f141c;
}
.table td{
    border: 0;
}
.mobile {
    display: none;
    width: 100%;
    color: #FFF;
}
.mobile ul {
    list-style: none;
}
.mobile .table-mobile .item {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #1a2330;
}
.mobile .table-mobile .item .username{
    font-weight: bold;
}
.mobile .table-mobile .buttons{
    padding-top: 10px;
}
.mobile .table-mobile .buttons .btn{
    width: 80px;
    margin-right: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px){
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
</style>