<template>
    <div class="working-time-form container-fluid">
      <div class="nav-user">
        <ul>
          <li v-bind:class="{'active':(currentForm == 'GET')}" v-on:click="currentForm = 'GET'">Get Working Time</li>
          <li v-bind:class="{'active':(currentForm == 'CREATE')}" v-on:click="currentForm = 'CREATE'">Create Working Time</li>
          <li v-bind:class="{'active':(currentForm == 'UPDATE')}" v-on:click="currentForm = 'UPDATE'">Update Working Time</li>
          <li v-bind:class="{'active':(currentForm == 'DELETE')}" v-on:click="currentForm = 'DELETE'">Delete Working Time</li>
        </ul>
      </div>

      <!-- GET -->
      <div class="form" v-if="currentForm == 'GET'">
        <h2>Get Working Time</h2>
        <div class="form-group">
          <label>Working time id</label>
          <input type="text" id="workingTimeIdForGet" class="form-control">
        </div>
        <button v-on:click="getWorkingTime()" class="btn btn-primary">Find</button>
        <div>
          {{workingTimeGot.data.start}}
          {{workingTimeGot.data.end}}
        </div>
      </div>

      <!-- CREATE -->
      <div class="form" v-if="currentForm == 'CREATE'">
        <h2>Create Working Time</h2>
        <div class="form-group">
          <label>Start</label>
          <input type="date" id="startDateForCreate" class="form-control">
          <input type="time" id="startTimeForCreate" class="form-control">
        </div>
        <div class="form-group">
          <label>End</label>
          <input type="date" id="endDateForCreate" class="form-control">
          <input type="time" id="endTimeForCreate" class="form-control">
        </div>
        <button v-on:click="createWorkingTime()" class="btn btn-primary">Create</button>
      </div>

      <!-- UPDATE -->
      <div class="form" v-if="currentForm == 'UPDATE'">
        <h2>Update Working Time</h2>
        <div class="form-group">
          <label>Start</label>
          <input type="datetime-local" id="startDateForUpdate" class="form-control">
          <!--<input type="time" id="startTimeForUpdate" class="form-control">-->
        </div>
        <div class="form-group">
          <label>End</label>
          <input type="datetime-local" id="endDateForUpdate" class="form-control">
          <!--<input type="time" id="endTimeForUpdate" class="form-control">-->
        </div>
        <div class="form-group">
          <label>WorkingTime id</label>
          <input type="text" id="workingTimeIdForUpdate" class="form-control">
        </div>
        <button v-on:click="updateWorkingTime()" class="btn btn-primary">Update</button><br>
      </div>

      <!-- DELETE -->
      <div class="form" v-if="currentForm == 'DELETE'">
        <h2>Delete Working Time</h2>
        <div class="form-group">
          <label>Working Time Id</label>
          <input type="text" id="idForDelete" class="form-control">
        </div>
        <button v-on:click="deleteWorkingTime()" class="btn btn-primary">Delete</button><br>
      </div>
  </div>
</template>

<script>
import Ajax from '../classes/Ajax'
import moment from 'moment'
moment.locale('en-AU');

export default {
  name: 'WorkingTime',
  props: ['selectedUser','roleUser'],
  data() {
    return {
      workingTimeGot: {data: {start:"",end:"", user:""}}, //Initialize a empty object to avoid error when call userGot.data.* above
      currentForm: "GET"
    };
  },
  methods: {
    // GET WORKING TIME workingtimes/:user/:workingTimeId
    getWorkingTime: function () {
      var id = document.getElementById("workingTimeIdForGet").value; //Get workingTimeId value from input (entered by user)
      Ajax.get("/workingtimes/"+this.selectedUser+"/"+id)
      .then(response => {
        console.log(response)
        this.workingTimeGot = response.data
      })
      .catch(function(error){
        if(error.response){ //If a error message is get
          console.log(error.response.status) //Print status code in console
          console.log(error.response.data) //Print response's body in console
          console.log(error.response.headers) //Print response's header in console
          this.alert("An error occured")
        }
      })
    },
    // CREATE WORKING TIME workingtimes/:user
    createWorkingTime: function () {
      var c_wt_body = {
        working_time: {
          start: "",
          end: "",
          user: this.selectedUser
        }
      }

      //start
      var c_wt_start_date = document.getElementById("startDateForCreate").value

      console.log(c_wt_start_date)
      if (c_wt_start_date) {
        c_wt_body.working_time.start = moment(c_wt_start_date)
      }

      //end
      var c_wt_end_date = document.getElementById("endDateForCreate").value

      console.log(c_wt_end_date)
      if (c_wt_end_date) {
        c_wt_body.working_time.end = moment(c_wt_end_date)
      }

      Ajax.post("/workingtimes/" + this.selectedUser ,c_wt_body)
      .then(response => {
        this.alert("Working times is created")
        console.log(response);
      })
      .catch(function(error){
        if(error.response){ //If a error message is get
          console.log(error.response.status) //Print status code in console
          console.log(error.response.data) //Print response's body in console
          console.log(error.response.headers) //Print response's header in console
          this.$alert("An error occured")
        }
      })
    },
    // UPDATE WORKING TIME workingtimes//:id
    updateWorkingTime: function () {
      var u_wt_body = {
        working_time: {
          start: "",
          end: "",
          user: this.selectedUser
        }
      }
      //workingTimeId
      var u_wt_id = document.getElementById("workingTimeIdForUpdate").value

      //start
      var u_wt_start_date = document.getElementById("startDateForUpdate").value
      // var u_wt_start_time = document.getElementById("startTimeForUpdate").value
      // var u_wt_start = u_wt_start_date + " " + u_wt_start_time + ":000";
      // console.log(u_wt_start)
      // console.log("start date : " + u_wt_start_date + " " + u_wt_start_time + ":000")

      var u_wt_start = u_wt_start_date+":00"
      console.log(u_wt_start)
      if (u_wt_start) {
        u_wt_body.working_time.start = moment(u_wt_start)
      }

      //end
      var u_wt_end_date = document.getElementById("endDateForUpdate").value
      // var u_wt_end_time = document.getElementById("endTimeForUpdate").value
      // var u_wt_end = u_wt_end_date + " " + u_wt_end_time + ":000";
      // console.log(u_wt_end)
      // console.log("end date : " + u_wt_end_date + " " + u_wt_end_time + ":000")

      var u_wt_end = u_wt_end_date+":00"
      console.log(u_wt_end)
      if (u_wt_end) {
        u_wt_body.working_time.end = moment(u_wt_end)
      }

      Ajax.put("/workingtimes/"+u_wt_id, u_wt_body)
      .then(response => {
        this.$alert("Working time updated")
        console.log(response)
      })
      .catch(function(error){
        if(error.response){ //If a error message is get
          console.log(error.response.status) //Print status code in console
          console.log(error.response.data) //Print response's body in console
          console.log(error.response.headers) //Print response's header in console
          this.$alert("An error occured")
        }
      })
    },
    // DELETE WORKING TIME workingtimes/:id
    deleteWorkingTime: function () {
      var d_wt_id = document.getElementById("idForDelete").value
      Ajax.delete("/workingtimes/"+d_wt_id)
      .then(this.$alert("Working time " + d_wt_id + " deleted"))
    },
  },
  filters: {
		moment: function (param) {
			return moment(param).format('Do MMMM YYYY hh:mm');
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-user ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 70px;
}
.nav-user li {
  cursor: pointer;
  text-transform: uppercase;
  padding-right: 50px;
  padding-bottom: 5px;
  margin-right: 5%;
}
.nav-user li.active {
  font-weight: bold;
  border-bottom: 5px solid #e8b81a;
}
.working-time-form {
  display: block;
  padding: 20px 0;
}
.working-time-form .form {
  width: 50%;
  margin-bottom: 70px;
}
.working-time-form h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 30px;
}
.working-time-form .form .btn{
  width: 100px;
  margin-top: 10px;
}
</style>