<template>
    <div id="sign-up-form">
        <div class="errors" v-if="errorMessages">
            <div class="alert alert-danger" role="alert" v-for="errorMessage in errorMessages" v-bind:key="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
        <div class="form-group">
            <input type="username" name="username" class="form-control form-control-lg" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email address"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control form-control-lg" placeholder="Password"/>
        </div>
        <div class="form-group">
            <input type="password" name="confirm_password" class="form-control form-control-lg" placeholder="Confirm password"/>
        </div>
        <button type="submit" class="btn btn-dark btn-lg btn-block" v-on:click="signUp()">Sign Up</button>
        <div class="forgot-password">
            <span class="already-account" v-on:click="changeForm">Already an account ?</span>
        </div>
    </div>
</template>

<script>
import Ajax from '../../classes/Ajax'

export default {
  name: 'SignUp',
  data() {
    return {
      errorMessages: false
    };
  },
  methods: {
    signUp() {
        var url = "/sign_up";
        var params = {
            "user": {
                username: document.getElementsByName('username')[0].value,
                email: document.getElementsByName('email')[0].value,
                password: document.getElementsByName('password')[0].value,
                password_confirmation: document.getElementsByName('confirm_password')[0].value
            }
        }
        Ajax.post(url, params)
            .then((response) => {
                // Save XSRF Token
                localStorage.csrf = response.data.csrf;
                // Save crypted JWT Token
                localStorage.jwt = response.data.jwt;
                var user = JSON.parse(response.data.user);
                if (user) {
                    this.$emit("logUser", {user: user.id, role: user.role.slug});
                }
            })
            .catch(error => {
                this.errorMessages = false;
                if(error.response.data != '') {
                    var errors = error.response.data.errors;
                    this.errorMessages = [];
                    for(var i = 0; i < Object.keys(errors).length; i++) {
                        var key = Object.keys(errors)[i];
                        for(var j = 0; j < errors[key].length; j++) {
                            this.errorMessages.push(key+' '+errors[key][j]);
                        }
                    }
                }
            })
    },
    changeForm() {
        this.$emit("changeForm", 'signIn');
    }
  }
};
</script>

<style>
.errors .alert:first-letter {
    text-transform: uppercase;
}
#sign-up-form {
    width: 500px;
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    background-color: #1a2330;
    margin: auto;
}
#sign-up-form .forgot-password{
    text-align: center;
    margin-top: 30px;
}
#sign-up-form input {
    color: #FFF;
    background-color: #0f141c;
    border: 0;
}
#sign-up-form .btn {
    margin-top: 30px;
}
#sign-up-form input:focus {
    color: #FFF;
    background-color: #0f141c;
    border: 0;
}
#sign-up-form .btn:hover, #sign-up-form .btn:focus {
    background-color: #e8b81a;
    color: #1a2330;
}
.already-account {
    color: #007bff;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1270px){
    #sign-up-form {
        width: 100%;
    }
}
@media screen and (max-width: 990px) {
    #sign-up-form {
        width: 50%;
    }
}
@media screen and (max-width: 700px){
    #sign-up-form {
        width: 100%;
        margin-bottom: 50px;
    }
}
</style>