<template>
    <div id="sign-in-form">
        <div class="alert alert-danger" role="alert" v-if="errorMessage">
            {{ errorMessage }}
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email address"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control form-control-lg" placeholder="Password"/>
        </div>
        <button type="button" class="btn btn-dark btn-lg btn-block sign-in-btn" v-on:click="signIn()">Log In</button>
        <div class="go-sign-up">
            <button type="button" class="btn btn-primary btn-lg btn-block sign-up-btn" v-on:click="changeForm()">Create new account</button>
        </div>
    </div>
</template>

<script>
import Ajax from '../../classes/Ajax'

export default {
  name: 'SignIn',
  data() {
    return {
      errorMessage: false
    };
  },
  methods: {
    signIn() {
        var url = "/sign_in";
        var params = {
            email: document.getElementsByName('email')[0].value,
            password: document.getElementsByName('password')[0].value
        }
        Ajax.post(url, params)
            .then((response) => {
                // Save XSRF Token
                localStorage.csrf = response.data.csrf;
                // Save crypted JWT Token
                localStorage.jwt = response.data.jwt;
                var user = JSON.parse(response.data.user);
                if (user) {
                    this.$emit("logUser", {user: user.id, role: user.role.slug});
                }
            })
            .catch(error => {
                if(error.response.data != '') {
                    this.errorMessage = error.response.data.error;
                }
            })
    },
    changeForm() {
        this.$emit("changeForm", 'signUp');
    }
  }
};
</script>

<style>
#sign-in-form {
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    background-color: #1a2330;
    margin: auto;
    width: 450px;
}
#sign-in-form input {
    color: #FFF;
    background-color: #0f141c;
    border: 0;
}
#sign-in-form .sign-in-btn {
    margin-top: 30px;
    margin-bottom: 40px;
}
#sign-in-form input:focus {
    color: #FFF;
    background-color: #0f141c;
    border: 0;
}
#sign-in-form .btn:hover, #sign-in-form .btn:focus {
    background-color: #e8b81a;
    color: #1a2330;
}
#sign-in-form .sign-up-btn, #sign-in-form .sign-up-btn:hover, #sign-in-form .sign-up-btn:focus {
    color: #FFF;
    background-color: #007bff;
    font-weight: 600;
}
.go-sign-up {
    padding-top: 40px;
    border-top: 2px solid #0f141c;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1150px){
    #sign-in-form {
        width: 100%;
    }
}
@media screen and (max-width: 990px) {
    #sign-in-form {
        width: 50%;
    }
}
@media screen and (max-width: 700px){
    #sign-in-form {
        width: 100%;
        margin-bottom: 50px;
    }
}
</style>