<template>
    <div class="chart">
        <h2>Heures de travail effectuées</h2>
        <area-chart
            id="delta-wt-clock"
            v-if="areaData"
            ref="areaChart"
            :data="areaData" 
            xkey="day"
            ykeys='["time", "done"]'
            line-colors='[ "#36A2EB", "#FF6384" ]'
            grid=true
            resize="true"
            redraw="true"
            labels='[ "Prévues", "Effectuées" ]'>
        </area-chart>
        <p v-else>Aucune donnée à afficher</p>
    </div>
</template>

<script>
import Ajax from '../../classes/Ajax'
import { AreaChart } from 'vue-morris'
import moment from 'moment'
moment.locale('en-AU');

export default {
    name: 'DeltaWorkingTimeClock',
    props: ['selectedUser','roleUser','userMenuOpen'],
    data() {
        return {
            areaData: this.getWorkingTimes()
        };
    },
    methods: {
        getWorkingTimes: function () {
            var instance = this;
            var areaData = [];
            var dates = {};
            var times = {};
            Ajax.get('/workingtimes/'+instance.selectedUser)
                .then(function(response) {
                    var workingTimesData = response.data.data;
                    for(var i = 0; i < workingTimesData.length; i ++) {
                        var start = moment(workingTimesData[i].start);
                        var end = moment(workingTimesData[i].end);
                        var diff = moment.duration(end.diff(start)).asHours();
                        var key = start.format("Do MMMM YYYY")
                        if (!Object.prototype.hasOwnProperty.call(dates, key)) {
                            dates[key] = diff;
                        } else {
                            dates[key] = dates[key] + diff;
                        }
                    }

                    Ajax.get('/clocks/'+instance.selectedUser)
                        .then(function(response) {
                            var clocksData = response.data.data;
                            for(i = 0; i < clocksData.length; i++) {
                                var time = moment(clocksData[i].time);
                                var hours = time.hours();
                                key = time.format("Do MMMM YYYY");
                                if (!Object.prototype.hasOwnProperty.call(times, key)) {
                                    times[key] = hours;
                                } else {
                                    times[key] = times[key] + hours;
                                }
                            }

                            for(i = 0; i < Object.keys(dates).length; i++) {
                                key = Object.keys(dates)[i];
                                areaData.push({ "time": dates[key], "done": times[key], "day": key});
                            }

                            if (areaData.length > 0) {
                                instance.areaData = areaData;
                            } else {
                                instance.areaData = false;
                            }
                        })
                })
        }
    },
    components: {
        AreaChart
    },
    watch: {
        selectedUser: function () {
            this.areaData = this.getWorkingTimes()
        },
        userMenuOpen: function () {
            setTimeout(function() {
                if (this.$refs.areaChart) {
                    this.$refs.areaChart.chart.redraw();
                }
            }, 3000);
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
</style>