<template>
    <div class="chart">
        <h2>Présence de l'utilisateur</h2>
        <donut-chart 
            id="in-out-chart"
            ref="donutChart"
            v-if="donutData"
            :data="donutData" 
            colors='[ "#36A2EB", "#FF6384" ]' 
            resize="true"
            redraw="true">
        </donut-chart>
        <p v-else>Aucune donnée à afficher</p>
    </div>
</template>

<script>
import Ajax from '../../classes/Ajax'
import { DonutChart } from 'vue-morris'

export default {
    name: 'InOutClock',
    props: ['selectedUser','roleUser','userMenuOpen'],
    data() {
        return {
            donutData: this.getClocks()
        };
    },
    methods: {
        getClocks: function () {
            var request = '/clocks/'+this.selectedUser;
            var instance = this;
            Ajax.get(request).then((response) => {
                var responseData = response.data.data;
                var out = 0;
                var entry = 0;
                for(var i = 0; i < responseData.length; i ++) {
                    if (responseData[i].status) {
                        entry++;
                    } else {
                        out++;
                    }
                }
                if (entry == 0 && out == 0) {
                    instance.donutData = false;
                } else {
                    instance.donutData = [
                        { label: 'Entrées', value: entry},
                        { label: 'Sorties', value: out}
                    ]
                }
            });
        }
    },
    components: {
        DonutChart
    },
    watch: {
        selectedUser: function () {
            this.donutData = this.getClocks()
        },
        userMenuOpen: function () {
            setTimeout(function() {
                if (this.$refs.donutChart) {
                    this.$refs.donutChart.chart.redraw();
                }
            }, 3000);
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
</style>