<template>
  <div class="clock-container">
    <div class="clock">
      <div>
        <span class="currentDate">{{ currentDate }}</span>
        <span class="currentTime">{{ currentTime }}</span>
      </div>
      <button v-on:click="clock" id="start-work" class="btn" v-bind:class="{'disabled': clockIn}">
        <span class="action">Start</span>
        <span class="work-label">my work</span>
      </button>
      <button v-on:click="clock" id="end-work" class="btn" v-bind:class="{'disabled': !clockIn}">
        <span class="action">End</span>
        <span class="work-label">my work</span>
      </button>
      <div class="work-status">
        <span v-if="clockIn"><img class="loading" src="../../assets/loading.svg">At work</span>
        <span v-else><img src="../../assets/check.svg">Work day completed</span>
      </div>
    </div>
  </div>
</template>

<script>
import Ajax from '../../classes/Ajax'
import moment from 'moment'
moment.locale('en-AU');

export default {
  name: 'ClockManagerEmbed',
  props: ['selectedUser','roleUser'],
  data() {
    return {
      currentDate: moment().format('dddd Do MMMM YYYY'),
      currentTime: moment().format('HH:mm:ss'),
      clockIn: false
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('Do MMMM YYYY HH:mm');
    }
  },
  methods: {
    refresh() {
      Ajax.get("/clocks/"+this.selectedUser)
        .then(response => {
          var lastClockData = response.data.data[response.data.data.length - 1]      
          if (lastClockData.status) {
            this.clockIn = true;
          }
          else {
            this.clockIn = false
          }
        })
        .catch(function(error){
          if(error.response){ //If a error message is get
            console.log(error.response.status) //Print status code in console
            console.log(error.response.data) //Print response's body in console
            console.log(error.response.headers) //Print response's header in console
          }
        })
    },
    // UPDATE WORKING TIME workingtimes//:id
    clock(){
      var clock_body = { //Request body
          status: !this.clockIn,
          time: moment().format()
      }
      Ajax.post("/clocks/"+this.selectedUser, clock_body) //Put request
        .then(() => {
          this.refresh();
        })
        .catch(error => {
          if(error.response) {
            console.log(error.response.status) //Print status code in console
            console.log(error.response.data) //Print response's body in console
            console.log(error.response.headers) //Print response's header in console
          }
        })
    },
    // DELETE WORKING TIME workingtimes/:id
    deleteWorkingTime: function () {
      var d_wt_id = document.getElementById("idForDelete").value
      Ajax.delete("/workingtimes/"+d_wt_id)
        .then(alert("Working time " + d_wt_id + " deleted"))
    }
  },
  watch: {
    selectedUser: function() {
      this.refresh();
    }
  },
  mounted: function() {
    setInterval(() => {
      this.currentDate = moment().format('dddd Do MMMM YYYY')
      this.currentTime = moment().format('HH:mm:ss')
    }, 1000);
    // Get current status
    this.refresh();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.currentDate, .currentTime{
  display: block;
  text-transform: capitalize;
}
.currentDate{
  font-size: 30px;
  font-weight: bold;
}
.currentTime{
  font-size: 30px;
}
#start-work, #end-work {
  background-color: #e8b81a;
  text-transform: uppercase;
  padding: 30px 0;
  margin-top: 30px;
  margin-right: 20px;
  font-family: 'Staatliches', cursive;
  width: 120px;
}
#start-work.disabled, #end-work.disabled{
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}
#start-work .action, #end-work .action {
  font-size: 40px;
  display: block;
}
#start-work .work-label, #end-work .work-label {
  font-size: 25px;
  display: block;
}
.clock-container {
  padding: 0 15px;
  width: 100%;
}
.clock {
  display: block;
  background-color: #1a2330;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
}
.clock label {
  width: 120px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.clock .status {
  font-weight: bold;
}
.clock .in {
  color: #42b983;
}
.clock .btn {
  width: 100px;
  margin-right: 10px;
}
.clock .work-status {
  margin-top: 30px;
  font-weight: bold;
}
.clock .work-status img{
  height: 20px;
  margin-right: 10px;
}
.clock .loading {
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.date {
  text-transform: capitalize;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1200px) and (max-width: 1388px){
  #start-work, #end-work {
    width: 100%;
  }
}
@media screen and (max-width: 940px){
  #start-work, #end-work {
    width: 100%;
  }
  .currentDate, .currentTime{
    font-size: 25px;
  }
}
@media screen and (max-width: 425px){
  .currentDate, .currentTime{
    font-size: 24px;
  }
}
</style>