<template>
  <div id="app">
    <!-- Sign in & sign up forms -->
    <div id="auth" class="container-fluid" v-if="connectedUser == false">
      <Auth @logUser="logUser"/>
    </div>
    <!-- Main app when user is logger -->
    <div id="logged" v-if="connectedUser != false && mobileMenuOpen == false">
      <div id="content" class="container-fluid">
        <div id="nav" class="row">
          <div class="desktop">
            <router-link to="/" data-page="Home" v-on:click.native="updateSelectedUser()">Home</router-link>
            <router-link v-if="this.roleUser !== 'employee'" :to="{ name: 'AdminManager', params: { userId: this.connectedUser }}" data-page="AdminManager" v-on:click.native="updateSelectedUser()">Admin Manager</router-link>
            <router-link :to="{ name: 'ChartManager', params: { userId: this.connectedUser }}" data-page="ChartManager" v-on:click.native="updateSelectedUser()">Chart Manager</router-link>
            <router-link v-if="this.roleUser !== 'admin'" :to="{ name: 'WorkingTimes', params: { userId: this.connectedUser }}" data-page="WorkingTimes" v-on:click.native="updateSelectedUser()">My Working Times</router-link>
            <router-link v-if="this.roleUser !== 'admin'" :to="{ name: 'Clocks', params: { userId: this.connectedUser }}" data-page="Clocks" v-on:click.native="updateSelectedUser()">My Clocks</router-link>
          </div>
          <div class="mobile" v-on:click="mobileMenu()">
            <img src="./assets/burger.svg">
          </div>
          <div id="nav-btn">
            <button v-on:click="logOut();" id="btn-logout" class="btn">
              <img src="./assets/exit.svg">
              Log out
            </button>
            <!--
            <button v-on:click="slideMenu();" id="btn-user-menu" class="btn">{{ userMenuBtn }}</button>
            -->
          </div>
        </div>
        <router-view :roleUser="roleUser" :selectedUser="selectedUser" :userMenuOpen="userMenuOpen"/>
      </div>
      <div id="sidebar">
        <User :roleUser="roleUser" :selectedUser="selectedUser" @changeUser="updateSelectedUser"/>
      </div>
    </div>
    <div id="burgerMenu" v-if="mobileMenuOpen == true">
      <MobileMenu :connectedUser="connectedUser" @closeMenu="mobileMenu"/>
    </div>
  </div>
</template>

<script>
  global.jQuery = require('jquery');
  let $ = global.jQuery;

  import User from './components/User.vue'
  import Auth from './components/Auth.vue'
  import MobileMenu from './components/MobileMenu.vue'
  import Ajax from './classes/Ajax'
  
  export default {
    components: {
      User,
      Auth,
      MobileMenu
    },
    data: function() {
      return {
        activeMenuIndex: '',
        userMenuBtn: 'Open User Menu',
        userMenuOpen: false,
        mobileMenuOpen: false,
        connectedUser: false,
        roleUser: false,
        selectedUser: false
      }
    },
    methods: {
      logUser(userParams = false) {
        this.connectedUser = false;
        if (userParams) {
          localStorage.connected_user = userParams.user;
        }
        if (localStorage.connected_user) {
          this.connectedUser = localStorage.connected_user;
          // Get current role user
          this.getUserRole(this.connectedUser);
        }
        // Update current selected user
        this.updateSelectedUser()
      },
      logOut() {
        var instance = this;
        Ajax.get('/sign_out/'+this.connectedUser)
            .then(() => {
                instance.connectedUser = false;
                instance.selectedUser = false;
                localStorage.clear();
                if (instance.$route.path != '/') {
                  instance.$router.push({ path: '/' })
                }
            })
            .catch(() => {
              console.log("Can't logout")
            })
      },
      getUserRole(userId) {
        Ajax.get('/users/'+userId)
            .then((response) => {
                this.roleUser = response.data.data.role.slug;
                console.log(this.roleUser)
                this.$forceUpdate()
            })
            .catch(() => {
                this.roleUser = false;
            })
      },
      updateSelectedUser(userId = false) {
        this.selectedUser = false;
        if (userId) {
          this.selectedUser = userId;
        } else if (this.$route.params.userId) {
          this.selectedUser = this.$route.params.userId;
        } else if (localStorage.connected_user) {
          this.selectedUser = localStorage.connected_user;
        }
      },
      slideMenu(){
        if ($('.user-forms').hasClass('open')) {
          $('.user-forms').removeClass('open');
          this.userMenuBtn = 'Open User Menu';
          this.userMenuOpen = false;
        } else {
          $('.user-forms').addClass('open');
          this.userMenuBtn = 'Close User Menu';
          this.userMenuOpen = true;
        }
      },
      mobileMenu(){
        this.mobileMenuOpen = !this.mobileMenuOpen;
      }
    },
    mounted: function(){
      this.logUser()
    },
    updated: function () {
      this.$nextTick(function () {
        // Prevent deselection from the active menu when user id change
        $('#nav a[data-page="'+this.$route.name+'"]').addClass('router-link-exact-active');
      })
    }
  }
</script>

<style>
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

#login {
  width: 100%;
}

#app {
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFF;
  margin: auto;
  background-color: #0f141c;
}


#logged .container-fluid {
  padding: 0 10vw;
}

#logged {
  display: flex;
}

#auth {
  height: 100vh;
}

#auth.container-fluid {
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 0;
  margin-bottom: 30px;
}

#nav .mobile {
  display: none;
  cursor: pointer;
}

#nav .mobile img {
  height: 25px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 30px;
}

#nav a:hover {
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #FFF;
  font-weight: bold;
}

#content {
  flex-grow: 2;
  text-align: left;
}

#content .container-fluid{
  padding: 0 10vw;
}

input[type="text"] {
  color: #FFF;
  background-color: #1a2330;
  border: 0;
}

input[type="text"]:focus {
  color: #FFF;
  background-color: #1a2330;
  border: 0;
}

.btn {
  background-color: #e8b81a;
  color: #1a2330;
  font-weight: bold;
  border: 0;
}

.editBtn {
  background-color: #3590F3;
  color : #F1E3F3;
  font-weight: bold;
  border: 0;
}

.btn-secondary {
  color: #FFF;
}

#nav-btn .btn .editBtn {
  border-radius: 15px;
  align-self: flex-end;
  font-weight: bold;
}

#btn-logout {
  background-color: #2c3e50;
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px;
}

#btn-logout img{
  height: 16px;
  margin-right: 6px;
}

#btn-user-menu{
  background-color: #e8b81a;
}

#sidebar {
  min-height: 100vh;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1160px){
  #nav .desktop {
    display: none;
  }
  #nav .mobile {
    display: block;
  }
}
@media screen and (max-width: 550px){
  #app, #auth {
    height: auto;
  }
}
</style>
